In [1]:
# import pyspark to process large files and create a new spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, asc, desc, to_timestamp

spark = SparkSession\
    .builder\
    .master('local[*]')\
    .config("spark.driver.memory", "4g")\
    .appName('process_tripdata')\
    .getOrCreate()

21/11/10 10:03:16 WARN Utils: Your hostname, LAPTOP-VD4O2HIL resolves to a loopback address: 127.0.1.1; using 172.17.55.88 instead (on interface eth0)
21/11/10 10:03:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/11/10 10:03:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
# read 2019-01 data
jan_data = spark\
    .read\
    .csv('/home/felipe/repos/tcc/nyc_data/csv/2019/fhv_tripdata_2019-01.csv', header=True)

In [3]:
# filter off null PU and DO location IDs
jan_data.createOrReplaceTempView("JAN_DATA_TEMP_VIEW")
jan_data = spark.sql("SELECT * FROM JAN_DATA_TEMP_VIEW WHERE PULocationID IS NOT NULL AND DOLocationID IS NOT NULL")

In [4]:
# convert PU and DO location ID cols to int
jan_data = jan_data.withColumn("PULocationID", jan_data.PULocationID.cast('int'))
jan_data = jan_data.withColumn("DOLocationID", jan_data.DOLocationID.cast('int'))

In [5]:
# get trips that did not depart from or arrive at unknown zones
jan_data = jan_data.where("PULocationID < 264 AND DOLocationID < 264")

In [6]:
# keep rows where PU and DO cols are not 0
jan_data.createOrReplaceTempView("JAN_DATA_TEMP_VIEW")
jan_data = spark.sql("SELECT * FROM JAN_DATA_TEMP_VIEW WHERE PULocationID <> 0 AND DOLocationID <> 0")

In [7]:
print("jan data count", jan_data.count()) # 19847263

jan data count 19847263

In [8]:
# sample 1% of the set
jan_data_sample = jan_data.sample(fraction=0.01)

In [9]:
print("jan sample count", jan_data_sample.count()) # 198615

jan sample count 198615

In [10]:
jan_data_sample.repartition(1)\
        .write.format("com.databricks.spark.csv")\
        .option("header", "true")\
        .save("/home/felipe/repos/tcc/nyc_data/csv/201901_sample.csv")