In [1]:
# import pyspark to process large files and create a new spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, asc, desc, to_timestamp

spark = SparkSession\
    .builder\
    .master('local[*]')\
    .config("spark.driver.memory", "4g")\
    .appName('process_tripdata')\
    .getOrCreate()

21/11/10 10:36:31 WARN Utils: Your hostname, LAPTOP-VD4O2HIL resolves to a loopback address: 127.0.1.1; using 172.17.55.88 instead (on interface eth0)
21/11/10 10:36:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/11/10 10:36:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/10 10:36:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/11/10 10:36:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
21/11/10 10:36:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
21/11/10 10:36:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [2]:
# read 2020-02 data
fhv_data = spark\
    .read\
    .csv('/home/felipe/repos/tcc/nyc_data/csv/2020/fhv_tripdata_2020-02.csv', header=True)
fhvhv_data = spark\
    .read\
    .csv('/home/felipe/repos/tcc/nyc_data/csv/2020/fhvhv_tripdata_2020-02.csv', header=True)

In [3]:
# drop Affiliated_base_number column from fhv_data
fhv_data = fhv_data.drop("Affiliated_base_number")

# drop hvfhs_license_num column from fhvhv_data
fhvhv_data = fhvhv_data.drop("hvfhs_license_num")

In [4]:
# filter off null PU and DO location IDs
fhv_data.createOrReplaceTempView("FHV_DATA_TEMP_VIEW")
fhv_data = spark.sql("SELECT * FROM FHV_DATA_TEMP_VIEW WHERE PULocationID IS NOT NULL AND DOLocationID IS NOT NULL")

fhvhv_data.createOrReplaceTempView("FHVHV_DATA_TEMP_VIEW")
fhvhv_data = spark.sql("SELECT * FROM FHVHV_DATA_TEMP_VIEW WHERE PULocationID IS NOT NULL AND DOLocationID IS NOT NULL")

In [5]:
# convert PU and DO location ID cols to int
fhv_data = fhv_data.withColumn("PULocationID", fhv_data.PULocationID.cast('int'))
fhv_data = fhv_data.withColumn("DOLocationID", fhv_data.DOLocationID.cast('int'))

# convert PU and DO location ID cols to int
fhvhv_data = fhvhv_data.withColumn("PULocationID", fhvhv_data.PULocationID.cast('int'))
fhvhv_data = fhvhv_data.withColumn("DOLocationID", fhvhv_data.DOLocationID.cast('int'))

In [6]:
# get trips that did not depart from or arrive at unknown zones
fhv_data = fhv_data.where("PULocationID < 264 AND DOLocationID < 264")
fhvhv_data = fhvhv_data.where("PULocationID < 264 AND DOLocationID < 264")

In [7]:
# keep rows where PU and DO cols are not 0
fhv_data.createOrReplaceTempView("FHV_DATA_TEMP_VIEW")
fhv_data = spark.sql("SELECT * FROM FHV_DATA_TEMP_VIEW WHERE PULocationID <> 0 AND DOLocationID <> 0")

fhvhv_data.createOrReplaceTempView("FHVHV_DATA_TEMP_VIEW")
fhvhv_data = spark.sql("SELECT * FROM FHVHV_DATA_TEMP_VIEW WHERE PULocationID <> 0 AND DOLocationID <> 0")

In [8]:
print("fhv data count", fhv_data.count()) # 363166
print("fhvhv data count", fhvhv_data.count()) # 21057911

fhv data count 363166

fhvhv data count 21057911

In [9]:
# sample 1% of the set
fhv_sample = fhv_data.sample(fraction=0.01)
fhvhv_sample = fhvhv_data.sample(fraction=0.01)

In [10]:
feb_sample = fhv_sample.union(fhvhv_sample)

print("feb sample count", feb_sample.count()) # 214980

feb sample count 214980

In [11]:
# append new data to sampled set
feb_sample.repartition(1)\
        .write.format("com.databricks.spark.csv")\
        .option("header", "true")\
        .save("/home/felipe/repos/tcc/nyc_data/csv/202002_sample.csv")